<ul class="list-group" id="items">
    <li n:foreach="$items as $item" class="list-group-item sortable" data-id="{$item->id}" data-order="{$item->order}">{control todoItemComponent-$item->id}</li>
    <li class="list-group-item">{control todoItemComponent-0}</li>
</ul>
