# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
    router: App\RouterFactory::createRouter

    # components
    - App\Components\JsComponentFactory(%wwwDir%, %productionMode%)
    - App\Components\CssComponentFactory(%wwwDir%, %productionMode%)
    - implement: App\Components\ITodoListComponentFactory
      parameters: [App\Model\Entity\User user]
      arguments: [%user%]
    - implement: App\Components\ITodoItemComponentFactory
      parameters: [App\Model\Entity\Item item = NULL, App\Model\Entity\User user]
      arguments: [%item%, %user%]

	# LM
    - App\Model\Mapper('App\Model\Entity')
    filters: App\Model\Filters
    - LeanMapper\DefaultEntityFactory
    - App\Model\Repository\UserRepository
    - App\Model\Repository\ItemRepository

    leanMapper.connection:
        setup:
            - registerFilter(unfinishedItems, [@filters, unfinishedItems])
            - registerFilter(orderItems, [@filters, orderItems])


extensions:
    leanMapper: App\Model\LeanMapperExtension