<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{ifset title}{include title|striptags} | {/ifset}TODO List</title>

    {control jsComponent}
    {control cssComponent}
</head>

<body>
{block container}
    <div class="container">
        <div class="jumbotron">
            <h1>TODO list</h1>

            <p>Toto je jednoduchý multiuživatelský a editovatelný seznam pro spousty vašich todo úkolů.</p>
            {if $user->loggedIn}
                {control userComponent}
            {/if}
        </div>
        {block content}{/block}
    </div>
{/block}


{snippet flashes}{if $flashes|length}
    <script>
        {foreach $flashes as $flash}
        toastr.{$flash->type|noescape}({$flash->message});
        {/foreach}
    </script>
{/if}{/snippet}
</body>
</html>
