{block content}
    <div class="jumbotron">
        <h1>TODO list</h1>
        <p>Toto je jednoduchý multiuživatelský a editovatelný seznam pro spousty vašich todo úkolů.</p>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-md-pull-2">
            {control todoList}
        </div>
    </div>
{/block}