{block content}
    <div class="jumbotron">
        <h1>TODO list</h1>
        <p>Toto je jednoduchý multiuživatelský a editovatelný seznam pro vaše TODO.</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3 col-md-pull-3">
            {control todoList}
        </div>
    </div>
{/block}